
.OrdersSummary {

}

.OrdersSummary .restaurantBox{
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #18213d;
    margin-bottom: 10px;
    font-size: large;
    cursor: pointer;
    color: white;
}

.OrdersSummary .restaurantBox span {
	display: block;
    width: 40px;
    background-color: #3a506b;
    margin: auto;
    color: white;
    border-radius: 20px;
}
