.OrdersNavigation .react-datepicker-wrapper {
	margin-bottom: 15px;
}

.OrdersNavigation .react-datepicker-wrapper input {
	padding: 15px;
	font-size: large;
    text-align: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}