
.OrdersNavigation .react-datepicker-wrapper {
	padding:25px;
}

.OrdersNavigation .react-datepicker-wrapper input {
	padding: 5px;
	font-size: large;
    text-align: center;
    border-radius: 5px;
}