.Products h3 {
    margin-top:25px;
	margin-bottom:25px;
}
.Products .productBox{
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #18213d;
    margin-bottom: 10px;
    font-size: large;
    cursor: pointer;
    color: white;
}

.Products  #addProductBox {
	background-color: #5BC0BE;
}