.RestaurantsDetail #inputContainers {
	margin-top: 25px;
}


.RestaurantsDetail #inputContainers #restaurantid {
    color: gray;
    text-align: right;
}

.RestaurantsDetail .RestaurantDetailButtons1 {
    text-align: left;
}
.RestaurantsDetail .RestaurantDetailButtons2 {
    text-align: right;
}

.RestaurantsDetail .RestaurantDetailButtons2 button {
    margin-left: 10px;
}


.RestaurantsDetail input {
    display: block;
    padding: 10px;
    width: 100%;
    margin: auto;
    border-radius: 5px;
    border: none;
}

.RestaurantsDetail label {
	width: 100%;

    text-align: left;

    margin-top: 10px;
}
