.OrdersDetail .OrdersDetailButtons1 {
text-align: left;
}

.OrdersDetail .OrdersDetailButtons2 { 
text-align: right;

}

.OrdersDetail .OrdersDetailButtons2 button.wait {
    cursor: wait;
}

.OrdersDetail .OrdersDetailTotals {

}

.OrdersDetail .OrdersDetailButtons2 button{
	margin-left: 10px;
}

.OrdersDetail table {
	color: white;
    border: none;
    background-color: #3a506b;
    border-radius: 5px;
    margin-top: 25px;
}

.OrdersDetail table thead tr th {
	border:none;
}

.OrdersDetail table tbody tr td {
	border:none;
}

.OrdersDetail table tbody tr td.td_name {

}

.OrdersDetail table tbody tr td.td_quantity {
	display: flex;
    justify-content: space-around;
    flex-direction: row;
}


.OrdersDetail table tbody tr td button {
    border: none;
    border-radius: 25px;
    height: 30px;
    width: 30px;
    background-color: #425b79;
    color: white;
}

.OrdersDetail .table-hover tbody tr:hover {
    color: #6FFFE9;
}

.OrdersDetail table .productQuantity {
    font-size: large;
}