.ProductsDetail #inputContainers {
	margin-top: 25px;
}

.ProductsDetail .ProductDetailButtons1 {
    text-align: left;
}
.ProductsDetail .ProductDetailButtons2 {
    text-align: right;
}

.ProductsDetail .ProductDetailButtons2 button {
    margin-left: 10px;
}


.ProductsDetail input {
    display: block;
    padding: 10px;
    width: 100%;
    margin: auto;
    border-radius: 5px;
    border: none;
}

.ProductsDetail label {
	width: 100%;

    text-align: left;

    margin-top: 10px;
}
